<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
    </p>
    <h3 style="margin: 20px;">테스트용 데이터</h3>
    <div>
      <table style="margin: auto;width: 50%;">
        <tr>
          <td>이름</td>
          <td>수학</td>
          <td>영어</td>
          <td>합계</td>
        </tr>
        <tr v-for="subject in subjectArray">
          <td>{{subject.name}}</td>
          <td>{{subject.math}}</td>
          <td>{{subject.english}}</td>
          <td>{{totalSum(subject.math,subject.english)}}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import utils from '../commonJs/utils.js'

console.log('utils====' , utils);
export default {
  name: 'listPage',
  props: {
    msg: String
  },
    data : function() {
      return {
          total : 123130,
          subjectArray : [
              {
                  name : 'A',
                  math : 10,
                  english : 20
              },
              {
                  name : 'B',
                  math : 30,
                  english : 40
              },
              {
                  name : 'C',
                  math : 50,
                  english : 60
              }
          ]
      }
    },
    methods : {
      totalSum : utils.sum
    },
    created : function () {
        console.log('========created============',this.total)
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
